
{% extends 'base.html'%}

{% block title %}首页{% endblock %}

{% block breadcrumbs %}
<li>
	<i class="ace-icon fa fa-home home-icon"></i>
   <a href="/index">Home</a>
</li>
<li>
	<a href="#">系统管理</a>
</li>
<li class="active">应用管理</li>
{% endblock %}

{% block page-header %}
<h1>系统管理<small><i class="ace-icon fa fa-angle-double-right"></i>应用管理</small></h1>
{% endblock %}

{% block page-content %}
首页内容
{% endblock %}

{% block js-content %}
<script>
    function add(x, y) {
        return x + y;
    }
</script>
{% endblock %}
